.police-footer{
    font-size:x-small;
}

.police-header{
    font-size: smaller;
}

.color-button{
    background-color: #F9F9FA;
}

.color-button-2{
    background-color: #F5F6F7;
    border-radius: 5px;
}
.size-button{
    width: 250px;
}

.size-card{
    object-fit: contain;
    width: 10rem;
    height: 16rem;
}

.size-text-footer{
    width: 90rem;
    height: 20rem;
}

.espace-footer{
    margin-top: 50px;
}

.footer-button{
    border: white;
    color: black;

}

.espace-fin-footer{
    margin-bottom: 50px;
}